@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --light-blue: #0ac5f9;
  --dark-blue: #1c70e9;
  --light-grey: #80879b;
  --dark-grey: #353535;
  --font-sec: #1d2b4f;
  --font-pri: #1a1a1a;
  --gradient: linear-gradient(
    to right bottom,
    var(--light-blue),
    var(--dark-blue)
  );
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1600px;
  margin-inline: auto;
}

.border {
  border: 1px solid red;
}

.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-fluid {
  padding: 1rem;
}

.section-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.logo {
  height: 2.8rem;
}

.navigation {
  display: none;
}

.btn-fill {
  border: 0;
  width: 12rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 5px;
  background: var(--gradient);
  color: #fff;
  padding: 1em 2em;
}

.content-sec {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content-sec h1 {
  font-size: 2rem;
}

.content-sec p {
  font-size: 0.9rem;
  text-align: justify;
  font-weight: lighter;
}

.content-sec h2 {
  font-size: 1.5rem;
}

.reverse {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reverse .left-sec {
  order: 2;
}

.reverse .right-sec {
  order: 1;
}

.section-1 img,
.section-2 img,
.section-3 img {
  width: 100%;
  padding: 2rem;
}

.list-of-services {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card img {
  width: 10%;
}

.card h4 {
  font-size: 1.1rem;
}

.card p {
  font-weight: lighter;
}

.pricing {
  background: var(--gradient);
}

.pricing-heading {
  color: #fff;
  text-align: center;
}

.pricing-cards {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.pricing-card {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pack-heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pack-heading h4 {
  font-size: 1.2rem;
}

.pack-heading p {
  color: var(--light-grey);
}

.coverage-lists {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.coverage-list::before {
  content: url(./assets/check.png);
  margin-right: 20px;
  display: inline-block;
}

.price {
  text-align: center;
}

.btn-void {
  margin-top: 20px;
  border: 2px solid transparent;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 5px;
  background: linear-gradient(#fff, #fff) padding-box,
    var(--gradient) border-box;
  background-color: transparent;
  color: var(--dark-blue);
  padding: 10px 30px;
}

.price p {
  margin-block: .5rem;
}

.price h4 {
  font-size: 1.2rem;
}

.price > h4 > span {
  color: var(--light-grey);
}

.price > p {
  color: var(--light-grey);
}

.customer-head{
  margin-block: 2rem;
  text-align: center;
}

.customer-head p {
  font-weight: lighter;
  font-size: .8rem;
  margin-top: .5rem;
}

.review-cards{
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 2rem;
}

.review-card{
  box-shadow: 5px 5px 10px rgba(193, 193, 193, 0.5);
  border-radius: .5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.review-card p {
  font-weight: lighter;
  font-size: .8rem;
}

.user::before {
  content: url(./assets/profile-holder.png);
  margin-right: 1.2rem;
}

.pre-footer {
  background: url(./assets/footer-bg.svg);
}

.user{
  display: flex;
  align-items: center;
}

.section-review{
  margin-block: 2rem;
}

.cont-footer{
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.left{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.left h2{
  color: #fff;
}

.left p {
  color: #fff;
  font-size: .8rem;
}

.btn {
  border: 1px solid #fff;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  padding: 10px 30px;
}

.footer{
  padding: 1rem;
}

.logo-f{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: 2rem;
}

.logo-f img{
  width: 8rem;
}

.logo-f p {
  font-weight: lighter;
  color: var(--light-grey);
}

.head {
  font-size: 1rem;
  font-weight: bold;
}

.list-footer {
  color: var(--light-grey);
  font-weight: lighter;
}

.menu, .links, .overview, .social-media{
  margin-block: 1rem;
}

.media{
  background: var(--gradient);
  padding: 5px;
  color: #fff;
  height: 30px;
  font-weight: bold;
  width: 30px;
  border-radius: 50%;
}

.wrapper{
  display: flex;
  gap: 1rem;
  margin-top: .5rem;
}

/* sm */
@media (min-width: 640px) {
  html{
    font-size: 20px;
  }
}

/* md */
@media (min-width: 825px) {
  .container-fluid{
    padding-inline: 4rem;
  }
  html{
    font-size: 16px;
  }
  .section-1, .section-2, .section-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .section-2 .left-sec {
    order: 1;
  }
  .left-sec{
    width: 45%;
    justify-content: center;
  }
  .right-sec{
    width: 45%;
    justify-content: center;
  }
  .service-provided{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .service-provided h2{
    width: 45%;
  }
  .service-provided p{
    width: 45%;
  }
  .list-of-services{
    display: grid;
    margin-block: 3rem;
    grid-template-columns: repeat(2,1fr);
  }
  .pricing-cards{
    display: grid;
    align-content: center;
  }
  .customer-head{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
  }
  .review-cards{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2,1fr);
  }
  .review-card{
    max-width: 600px;
  }
  .cont-footer{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
  }
  .right{
    display: flex;
    justify-content: flex-end;
  }
}

/* lg */
@media (min-width: 1024px) {
  html{
    font-size: 20px;
  }
  .footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2rem;
    font-size: 10px;
  }
  .logo-f img{
    width: 5rem;
  }
  .pricing-cards{
    font-size: .8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* xl */
@media (min-width: 1280px) {

}